<h1>Proposta de Orçamento</h1>

<%= @order.inspect %>
<%= @event.inspect %>

<div id="order_details">
  <div>Pedido <%= @order.code %></div>
  <div>Data do Evento: <%= @order.event_date %></div>
  <div>Quantidade de Convidados: <%= @order.guests %></div>
  <div>Endereço do Evento: <%= @order.address %></div>
  <div>Mais detalhes: <%= @order.more_details %></div>
  <div>Cliente: <%= @order.customer.name %></div>
  <div>Evento: <%= @order.event_type.name %></div>
</div>
<div id="event_details">
  <div>Evento <%= @event.name %></div>
  <div>Descrição do Evento: <%= @event.description %></div>
  <div>Cardápio do Evento: <%= @event.menu %></div>
  <div>Quantidade de Convidados: de <%= @event.min_guests %> a <%= @event.max_guests %></div>
  <div>Duração do Evento: <%= @event.duration %></div>
  <div>Serviços Oferecidos: <%= @event.event_options %></div>
</div>
<div id="new_invoice_form"></div>
