
<h1><%= @buffet.brand_name %></h1>
<h2><%= @buffet.description %></h2>

<div id="new_order_button">
  <%= link_to 'Pedir um Orçamento', new_order_path(buffet_id: @buffet.id) %>
</div>

<div>
  <h3>Informações:</h3>
  <p><%= link_to 'Editar Buffet', edit_buffet_path if current_buffet_admin %></p>
  <ul>
    <li> <strong>Nome de Registro: </strong> <%= @buffet.company_name %></li>
    <% if current_buffet_admin %>
      <li> <strong>CNPJ: </strong> <%= @buffet.registration_number %></li>
    <% end %>

    <li> <strong>Telefone: </strong> <%= @buffet.phone_number %></li>
    <li> <strong>E-mail: </strong> <%= @buffet.email %></li>
    <li> <strong>Localização: </strong>
      <p>
        <%= @buffet.full_address %><br>
        <%= @buffet.city %> | <%= @buffet.state %><br>
        CEP: <%= @buffet.zip_code %><br>
      </p>
    </li>
  </ul>

  <div id="payment_methods">
    <p><%= link_to 'Cadastrar Método de Pagamento', new_payment_method_path if current_buffet_admin %></p>
     <%= render  "payment_methods/index" unless @buffet.payment_methods.blank? %>
  </div>
</div>


<div id="events">
  <p><%= link_to 'Cadastrar Evento', new_buffet_event_type_path(current_buffet_admin.buffet) if current_buffet_admin %></p>
  <%= render  "event_types/index"  unless @buffet.event_types.blank? %>
</div>

