<h1>Preços Cadastrados</h1>

<% @prices.each do |price| %>
  <%= "Preço de final de semana" if price.weekend_schedule %>
  <%= "Preço para durante a semana" unless price.weekend_schedule %>
  <br>
  <strong>Preço Inicial: </strong><%= number_to_currency(price.min_price, precision: 2, separator: ',', delimiter: '.') %><br>
  <%= number_to_currency(price.extra_guest_fee, precision: 2, separator: ',', delimiter: '.') %><strong> por convidado extra</strong><br>
  <%= number_to_currency(price.overtime_fee, precision: 2, separator: ',', delimiter: '.') %><strong> por hora extra</strong><br>
  <br>
<% end %>

