<h1>Novo Orçamento</h1>

<% if @order.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <li> <%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div id="new_order_form">
  <%= form_with model: @order do |f|%>
    <div class="field">
      <%= hidden_field_tag(:event_type_id, @event.id) %>
      <%= hidden_field_tag(:buffet_id, @buffet.id) %>
    </div>

    <div class="field">
      <%= f.label :event_date %><br />
      <%= f.date_field :event_date %>
    </div>

    <div class="field">
      <%= f.label :guests %>
      <%= f.number_field :guests %>
    </div>

    <div class="field">
      <%= f.label :more_details %>
      <%= f.text_area :more_details %>
    </div>

      <div class="field">
        <%= f.label :address %>
        <% if @event.location %>
          <%= f.text_area :address %>
        <% else %>
          <%= f.text_area :address, disabled: true %>
          <%= hidden_field_tag(:address, @order.address) %>
        <% end %>
      </div>

    <%= f.submit %>
  <% end %>
</div>
