<!DOCTYPE html>
<html>
  <head>
    <title>Cadê Buffet?</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>

      <h1><%= link_to 'Cadê Buffet?', root_path %></h1>

      <div id="search_buffet">
        <% unless current_buffet_admin %>
          <%= form_with url: search_path, method: :get do %>
            <%= label_tag :q, 'Procurar Buffets:' %>
            <%= text_field_tag :q %>
            <%= submit_tag 'Pesquisar' %>
          <% end %>
        <% end %>
      </div>

      <nav>
        <% if @user_app %>
          <%= link_to 'Entrar como Administrador', new_buffet_admin_session_path  %>
          <%= link_to 'Entrar como Cliente', new_customer_session_path  %>
        <% else %>

          <% if @buffet_admin_app %>
            <% name_to_show = current_buffet_admin.name.blank? ? current_buffet_admin.email : current_buffet_admin.name %>
            <% buffet_of_admin = current_buffet_admin.buffet %>
            <p>Olá, <%= link_to name_to_show, buffet_of_admin %></p>
            <%= link_to 'Pedidos', orders_path %>
            <%= button_to 'Sair', destroy_buffet_admin_session_path, method: :delete %>
          <% end %>

          <% if @customer_app %>
            <p>Olá, <%= current_customer.name %></p>
            <%= link_to 'Meus Pedidos', orders_path %>
            <%= button_to 'Sair', destroy_customer_session_path, method: :delete %>
          <% end %>

        <% end %>
      </nav>

    </header>


    <div>
      <%= notice %>
      <%= alert %>
    </div>

    <div>
      <%= yield %>
    </div>

  </body>
</html>
